extends clientLayout

append content
  // Start: Main content
  .container.article-clean(style='padding-right: 0px;padding-left: 0px;width: 1050px;')
    .row(style='margin-right: -15px;width: 1050px;')
      .col-lg-10.col-xl-8.offset-lg-1.offset-xl-2
        // Start: Intro
        .text-center.intro
          h1.text-center Client Cases Stub - Still in progress
          img.img-fluid(src='assets/img/desk.jpg')
        // End: Intro
        // Start: Text
        .text
          p
            | Sed lobortis mi. Suspendisse vel placerat ligula. 
            span(style='text-decoration: underline;') Vivamus
            |  ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.
            |                         Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
          p
            | Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac lacus. 
            strong Ut vehicula rhoncus
            |  elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit 
            em pulvinar dict
            |  vel in justo. Vestibulum ante
            |                         ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
          h2 Aliquam In Arcu 
          p
            | Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            | posuere cubilia Curae.
          figure
            img.figure-img(src='assets/img/beach.jpg')
            figcaption Caption
          p
            | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar
            | dictum vel in justo.
        // End: Text
        // End: Main content
