extends clientLayout

append styling
  link(rel='stylesheet', href='/css/client/Pretty-Case-List.css')

append content
  .container.article-clean(style='padding-right: 0px;padding-left: 0px;width: 2500px;')
    .row(style='margin-right: -15px;width: 1050px;')
      .col
        div(style='margin:46px;')
          if(clientCaseList)
            each legalCase in clientCaseList
              .row.row-striped
                .col-2.text-center
                  .user-container
                    a.user-avatar(href='#')
                      img.img-fluid(src='/images/legalReportIcon.jpg', alt='Report image', width='200', height='200')
                      //img.img-fluid(src='/images/icons/courthouse-256.png', alt='Client case icon', width='200', height='200')
                .col-10
                  h3.text-uppercase
                    strong Case#: #{legalCase.caseUUID}
                  ul.list-inline
                    li.list-inline-item
                      i.fa.fa-calendar-o(aria-hidden='true')
                      | Created On: #{legalCase.createdAt}
                  p
                    | Profile information: Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  //- input(type='hidden', name='reqid', value=profile.id)
                  //- button#updateCase.btn.btn-primary.btn-sm(type='submit', href='/user/client/incidentForm') Update Case Information
                  a#updateCase.btn.btn-primary.btn-sm(type='submit', href='/user/client/incidentForm?case='+legalCase.caseUUID) Update Case Information
          //- a.nav-link.active.text-left.text-white.py-1.px-0(href='/user/client/incidentForm')

          else
            h1 Sorry you have no previous cases to lookup.
