doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title client
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.1/css/all.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='assets/fonts/fontawesome5-overrides.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lora')
    link(rel='stylesheet', href='assets/css/Article-Clean.css')
    link(rel='stylesheet', href='assets/css/Calendar-BS4-1.css')
    link(rel='stylesheet', href='assets/css/Calendar-BS4.css')
    link(rel='stylesheet', href='assets/css/Profile-Edit-Form-1.css')
    link(rel='stylesheet', href='assets/css/Profile-Edit-Form.css')
    link(rel='stylesheet', href='assets/css/sidebar.css')
  body
    // Start: Main content
    .container.article-clean(style='padding-right: 0px;padding-left: 0px;width: 1050px;')
      .row(style='margin-right: -15px;width: 1050px;')
        .col-lg-10.col-xl-8.offset-lg-1.offset-xl-2
          // Start: Intro
          .text-center.intro
            h1.text-center Here is some awesom Article about something to do with the law system
            // Start: Date and Author
            p.text-center
              span.by by
              a(href='#') Joe Smoe
              span.date July 29th, 2019
            // End: Date and Author
            img.img-fluid(src='assets/img/desk.jpg')
          // End: Intro
          // Start: Text
          .text
            p
              | Sed lobortis mi. Suspendisse vel placerat ligula. 
              span(style='text-decoration: underline;') Vivamus
              |  ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.
              |                         Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
            p
              | Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac lacus. 
              strong Ut vehicula rhoncus
              |  elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit 
              em pulvinar dict
              |  vel in justo. Vestibulum ante
              |                         ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
            h2 Aliquam In Arcu 
            p
              | Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
              | posuere cubilia Curae.
            figure
              img.figure-img(src='assets/img/beach.jpg')
              figcaption Caption
            p
              | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar
              | dictum vel in justo.
          // End: Text
          // End: Main content
          script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
          script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js')
          script(src='assets/js/clientScripts/lawyerSearch.js')
          script(src='assets/js/clientScripts/sidebar.js')
          script(src='assets/js/Profile-Edit-Form.js')
