extends layout


block content
    h1= title
    p Welcome to the client page

    //- .box
    //-     button(id="clientSignupButton" name="clientSignup") Client Signup
    //-     button(id="lawyerSignupButton" name="lawyerSignup") Lawyer Signup
    //-     button(id="loginButton" name="login") Login
