extends layout

block append styling
    style.
      a:hover {
      color: white;
      font-weight: bold;
      }
    
    style.
      .alert {
        position:absolute;
        z-index:1;
      }

block content
  //TODO: Alert is off centered
  if logout
    .col-sm
      .alert.alert-success.alert-dismissible.fade.show
        strong Success!
        |  You have been successfully logged out.
        button.close(type='button', data-dismiss='alert') x
  .hero-wrap.js-fullheight(data-stellar-background-ratio='0.5', style="background-image: url('images/bg_1.jpg');")
    .overlay
    .container
      .row.no-gutters.slider-text.js-fullheight.align-items-center.justify-content-center(data-scrollax-parent='true')
        .col-md-10.text-center.ftco-animate(data-scrollax=" properties: { translateY: '70%' }")
          h2.subheading(data-scrollax="properties: { translateY: '30%', opacity: 1.6 }")
            | We are here
            | to help!
          h1.mb-0(data-scrollax="properties: { translateY: '30%', opacity: 1.6 }")
            span Experience
            |  .
            span Innovation
            |  .
            span Excellence
        .col-md-3.text-center.services.align-self-stretch.ftco-animate.pt-5.mb-5
          .icon
            span.flaticon-auction
          .media-body
            h2.heading.mb-3
              a(href='clientsignup') Client
            p Find a Lawyer
        .col-md-1
        .col-md-3.text-center.services.align-self-stretch.ftco-animate.pt-5.mb-5
          .icon
            span.flaticon-lawyer
          .media-body
            h2.heading.mb-3
              a(href='lawyersignup') Lawyer
            p Find clients to help
  // Our Lawyers
  section.ftco-section.bg-secondary
    .container-fluid
      .row.justify-content-center.mb-5.pb-3
        .col-md-7.text-center.heading-section.heading-section-white.ftco-animate
          span.subheading Our Attorney
          h2.mb-4 Our Legal Attorneys
      .row
        // person 1
        .col-lg-3.col-sm-6
          .block-2.ftco-animate
            .flipper
              .front(style='background-image: url(images/person_1.jpg);')
                .box
                  h2 Richard Anderson
                  p Civil Lawyer
            .back
              // back content
              blockquote
                p
                  | "What do you call a group of nerds arguing on the internet?
                  br
                  br
                  |                                     The internet.
              .author.d-flex
                .image.mr-3.align-self-center
                  img(alt='', src='images/person_1.jpg')
        // person 2
        .col-lg-3.col-sm-6
          .block-2.ftco-animate
            .flipper
              .front(style='background-image: url(images/person_2.jpg);')
                .box
                  h2 Jefford Maxillin
                  p Business Lawyer
            .back
              // back content
              blockquote
                p
                  | "Why did the programmer die in the shower? The shampoo bottle said: "Wash, rinse,
                  | repeat.
              .author.d-flex
                .image.mr-3.align-self-center
                  img(alt='', src='images/person_2.jpg')
        // person 3
        .col-lg-3.col-sm-6
          .block-2.ftco-animate
            .flipper
              .front(style='background-image: url(images/person_3.jpg);')
                .box
                  h2 Carlos Obing
                  p Criminal Defense
            .back
              // back content
              blockquote
                p
                  | "My physics teacher told me I had a lot of potential. Then he pushed me off a roof."
              .author.d-flex
                .image.mr-3.align-self-center
                  img(alt='', src='images/person_3.jpg')
        // person 4
        .col-lg-3.col-sm-6
          .block-2.ftco-animate
            .flipper
              .front(style='background-image: url(images/person_4.jpg);')
                .box
                  h2 Nathan Smith
                  p Insurance Lawyer
            .back
              // back content
              blockquote
                p
                  | "A Roman soldier walked into a bar. He held up two fingers and said to the
                  | bartender, 'Five beers please.'"
              .author.d-flex
                .image.mr-3.align-self-center
                  img(alt='', src='images/person_4.jpg')
  // BLOG
  section.ftco-section.bg-light
    .container
      .row.justify-content-center.mb-5.pb-3
        .col-md-7.heading-section.text-center.ftco-animate
          span.subheading Our Blog
          h2 Recent Blog
      .row.d-flex
        .col-md-4.d-flex.ftco-animate
          .blog-entry.justify-content-end
            a.block-20(href='/blog-single', style="background-image: url('images/image_1.jpg');")
            .text.p-4.float-right.d-block
              .topper.d-flex.align-items-center
                .one.py-2.pl-3.pr-1.align-self-stretch
                  span.day 15
                .two.pl-0.pr-3.py-2.align-self-stretch
                  span.yr 2019
                  span.mos January
              h3.heading.mt-2
                a(href='#') All you want to know about industrial laws
              p
                | A small river named Duden flows by their place and supplies it with the necessary
                | regelialia.
            h3.heading.mt-2
              a(href='#') All you want to know about industrial laws
            p Some text goes here
        .col-md-4.d-flex.ftco-animate
          .blog-entry.justify-content-end
            a.block-20(href='/blog-single', style="background-image: url('images/image_2.jpg');")
            .text.p-4.float-right.d-block
              .topper.d-flex.align-items-center
                .one.py-2.pl-3.pr-1.align-self-stretch
                  span.day 12
                .two.pl-0.pr-3.py-2.align-self-stretch
                  span.yr 2019
                  span.mos January
              h3.heading.mt-2
                a(href='#') All you want to know about industrial laws
              p
                | A small river named Duden flows by their place and supplies it with the necessary
                | regelialia.
            h3.heading.mt-2
              a(href='#') All you want to know about industrial laws
            p Some text goes here
        .col-md-4.d-flex.ftco-animate
          .blog-entry
            a.block-20(href='/blog-single', style="background-image: url('images/image_3.jpg');")
            .text.p-4.float-right.d-block
              .topper.d-flex.align-items-center
                .one.py-2.pl-3.pr-1.align-self-stretch
                  span.day 10
                .two.pl-0.pr-3.py-2.align-self-stretch
                  span.yr 2019
                  span.mos January
              h3.heading.mt-2
                a(href='#') All you want to know about industrial laws
              p
                | A small river named Duden flows by their place and supplies it with the necessary
                | regelialia.
            h3.heading.mt-2
              a(href='#') All you want to know about industrial laws
            p Some text goes here

