

block content
    p
        form(role='form', method='GET', action='/')
            button.btn.btn-primary.btn-lg(type='submit' id='submit-btn') Logout
    script.
        document.getElementById('submit-btn').style.visibility='hidden';
        alert('You are now logged out.');
        document.getElementById('submit-btn').click();