doctype html
html(lang='en')
  head
    title Sign Up
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1, shrink-to-fit=no', name='viewport')
    link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i', rel='stylesheet')
    link(href='css/open-iconic-bootstrap.min.css', rel='stylesheet')
    link(href='css/animate.css', rel='stylesheet')
    link(href='css/owl.carousel.min.css', rel='stylesheet')
    link(href='css/owl.theme.default.min.css', rel='stylesheet')
    link(href='css/magnific-popup.css', rel='stylesheet')
    link(href='css/aos.css', rel='stylesheet')
    link(href='css/ionicons.min.css', rel='stylesheet')
    link(href='css/bootstrap-datepicker.css', rel='stylesheet')
    link(href='css/jquery.timepicker.css', rel='stylesheet')
    link(href='css/flaticon.css', rel='stylesheet')
    link(href='css/icomoon.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')

  body
    nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light
      .container
        a.navbar-brand(href='index.html') LawyerUp
        button.navbar-toggler(aria-controls='ftco-nav', aria-expanded='false', aria-label='Toggle navigation', data-target='#ftco-nav', data-toggle='collapse', type='button')
          span.oi.oi-menu
          |  Menu
        #ftco-nav.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            p
              a.btn.btn-primary.py-3.px-4(href='#', style='margin-top:20px;') Login
    // END nav
    .hero-wrap.js-fullheight(data-stellar-background-ratio='0.5', style="background-image: url('images/bg_client-signup.jpg');")
      .overlay
      .container
        .row.slider-text.js-fullheight.align-items-center.justify-content-center(data-scrollax-parent='true')
          .col-md-10.text-center.ftco-animate(data-scrollax=" properties: { translateY: '70%' }")
            h1.mb-0(data-scrollax="properties: { translateY: '30%', opacity: 1.6 }")
              span Sign Up to Find a Lawyer.
            br
            form#formLawyerSignUp(onsubmit='validate(this)')
              .form-group
                input#firstName.form-control(type='text', aria-describedby='message', placeholder='First Name', required='')
              .form-group
                input#lastName.form-control(type='text', placeholder='Last Name', required='')
              .form-group
                input#email.form-control(type='email', placeholder='Email', aria-describedby='msgEmail', required='')
                small#msgEmail.form-text(style='color: #ffe97a') We'll never share your email. Email will be used for login.
              .form-group
                input#password.form-control(type='password', placeholder='Create Password', required='')
              .form-group
                input#rePassword.form-control(type='password', placeholder='Re-Enter Password', aria-describedby='msgPassword', required='')
                small#msgPassword.form-text(style='color: #ffe97a')
                  | Password must be 6 characters containing at least one upper case, one lower case, and a number.
              button.btn.btn-primary(type='submit') Submit
    // FOOTER
    footer.ftco-footer.ftco-bg-dark.ftco-section
      .container
        .row.mb-5
          .col-md
            .ftco-footer-widget.mb-3
              h2.ftco-heading-2 LawyerUp
              p
                | "It is a period of civil war. Rebel spaceships, striking from a hidden base, have won their
                | first
                | victory against the evil Galactic Empire. During the battle, Rebel spies managed to steal
                | secret
                | plans to the Empire’s ultimate weapon, the DEATH STAR, an armored space station with enough
                | power to destroy an entire planet.
              ul.ftco-footer-social.list-unstyled.float-md-left.float-lft.mt-5
                li.ftco-animate
                  a(href='#')
                    span.icon-twitter
                li.ftco-animate
                  a(href='#')
                    span.icon-facebook
                li.ftco-animate
                  a(href='#')
                    span.icon-instagram
          .col-md
          .col-md
            .ftco-footer-widget.mb-4
              h2.ftco-heading-2 Have a Questions?
              .block-23.mb-3
                ul
                  li
                    span.icon.icon-map-marker
                    span.text Fake St. USA
                  li
                    a(href='#')
                      span.icon.icon-phone
                      span.text 800-222-2222
                  li
                    a(href='#')
                      span.icon.icon-envelope
                      span.text info@yourdomain.com
        .row
          .col-md-12.text-center
            p
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              | Copyright ©
              script.
                document.write(new Date().getFullYear());
              |                         All rights reserved | This template is made with 
              i.icon-heart.color-danger(aria-hidden='true')
              |  by 
              a(href='https://colorlib.com', target='_blank') Colorlib
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              // loader
              #ftco-loader.show.fullscreen
                svg.circular(height='48px', width='48px')
                  circle.path-bg(cx='24', cy='24', fill='none', r='22', stroke='#eeeeee', stroke-width='4')
                  circle.path(cx='24', cy='24', fill='none', r='22', stroke='#F96D00', stroke-miterlimit='10', stroke-width='4')
              script(src='js/jquery.min.js')
              script(src='js/jquery-migrate-3.0.1.min.js')
              script(src='js/popper.min.js')
              script(src='js/bootstrap.min.js')
              script(src='js/jquery.easing.1.3.js')
              script(src='js/jquery.waypoints.min.js')
              script(src='js/jquery.stellar.min.js')
              script(src='js/owl.carousel.min.js')
              script(src='js/jquery.magnific-popup.min.js')
              script(src='js/aos.js')
              script(src='js/jquery.animateNumber.min.js')
              script(src='js/bootstrap-datepicker.js')
              script(src='js/jquery.timepicker.min.js')
              script(src='js/scrollax.min.js')
              script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
              script(src='js/google-map.js')
              script(src='js/main.js')
              script(src='js/signup.js')
