extends layout

block title
  title LawyerUp-Signup

block content
  .hero-wrap.js-fullheight(data-stellar-background-ratio='0.5', style="background-image: url('images/bg_client-signup.jpg');")
    .overlay
    .container
      .row.slider-text.js-fullheight.align-items-center.justify-content-center(data-scrollax-parent='true')
        .col-md-10.text-center.ftco-animate(data-scrollax=" properties: { translateY: '70%' }")
          h1.mb-0(data-scrollax="properties: { translateY: '30%', opacity: 1.6 }")
            span Sign Up to Find a Lawyer.
          br
          form#formLawyerSignUp(role='form', method='POST', action='clientsignup')
            .form-group
              input#firstName.form-control(type='text', name='firstname', aria-describedby='message', placeholder='First Name', required='')
            .form-group
              input#lastName.form-control(type='text', name='lastname', placeholder='Last Name', required='')
            .form-group
              input#phonenumber.form-control(type='text', name='phonenumber', placeholder="(909) 867-5309", aria-describedby='msgPhone', required='')
              input#country.form-control(type='text', name='country', placeholder='USA', aria-describedby='msgCountry', required='')
              input#email.form-control(type='email', name='email', placeholder='Email', aria-describedby='msgEmail', required='')
              small#msgEmail.form-text(style='color: #ffe97a') We'll never share your email. Email will be used for login. 
            .form-group

              input#password.form-control(type='password', name='password', placeholder='Create Password', required='') 
            .form-group
              input#rePassword.form-control(type='password', name='password_dup' placeholder='Re-Enter Password', aria-describedby='msgPassword', required='')
              small#msgPassword.form-text(style='color: #ffe97a')
                | Password must be 6 characters containing at least one upper case, one lower case, and a number.
            button.btn.btn-primary(type='submit') Submit

  block append footerScripts
    script(src='javascripts/signup.js')
