html
    block head
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/popper.min.js')
        script(src='/javascripts/bootstrap.min.js')
        link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
        link(href='/stylesheets/font-awesome/css/all.css', rel='stylesheet')

    block body
        script(src='/javascripts/vidyo.js')
        script.
            const TOKEN ="#{token}"
            const USER = "#{name}"
            const ROOM = "#{room}"
            onVidyoClientLoaded(status);
        
        //- div.container(id="renderer",style="position: absolute; top: 41px; left: 3px; bottom: -23px; z-index: 99; height: 500px; width: 500px;")
        div.container
            h1.m2.display-4.text-center LawyerUp
            div.h-75(id="renderer")
            div.text-center
                button.btn.btn-outline-danger.m-5.shadow
                    i.fas.fa-phone.fa-3x
        

        script(src='https://static.vidyo.io/latest/javascript/VidyoClient/VidyoClient.js?onload=onVidyoClientLoaded&webrtc=true&plugin=false')
