doctype html
html(lang='en')
  head
    title Whisper - Free Bootstrap 4 Template by Colorlib
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i', rel='stylesheet')
    link(rel='stylesheet', href='css/open-iconic-bootstrap.min.css')
    link(rel='stylesheet', href='css/animate.css')
    link(rel='stylesheet', href='css/owl.carousel.min.css')
    link(rel='stylesheet', href='css/owl.theme.default.min.css')
    link(rel='stylesheet', href='css/magnific-popup.css')
    link(rel='stylesheet', href='css/aos.css')
    link(rel='stylesheet', href='css/ionicons.min.css')
    link(rel='stylesheet', href='css/bootstrap-datepicker.css')
    link(rel='stylesheet', href='css/jquery.timepicker.css')
    link(rel='stylesheet', href='css/flaticon.css')
    link(rel='stylesheet', href='css/icomoon.css')
    link(rel='stylesheet', href='css/style.css')
  body
    nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light
      .container
        a.navbar-brand(href='index.html') Whisper
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#ftco-nav', aria-controls='ftco-nav', aria-expanded='false', aria-label='Toggle navigation')
          span.oi.oi-menu
          |  Menu
        #ftco-nav.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='index.html') Home
            li.nav-item
              a.nav-link(href='about.html') About Us
            li.nav-item
              a.nav-link(href='practice-areas.html') Practice Areas
            li.nav-item
              a.nav-link(href='attorneys.html') Attorneys
            li.nav-item.active
              a.nav-link(href='blog.html') Blog
            li.nav-item
              a.nav-link(href='contact.html') Contact
    // END nav
    section.hero-wrap.hero-wrap-2(style="background-image: url('images/bg_2.jpg');", data-stellar-background-ratio='0.5')
      .overlay
      .container
        .row.no-gutters.slider-text.align-items-end.justify-content-center
          .col-md-9.ftco-animate.pb-5.text-center
            h1.mb-3.bread Blog Single
            p.breadcrumbs
              span.mr-2
                a(href='index.html')
                  | Home
                  i.ion-ios-arrow-forward
              span.mr-2
                a(href='blog.html')
                  | Blog
                  i.ion-ios-arrow-forward
              span
                | Blog Single
                i.ion-ios-arrow-forward
    section.ftco-section.ftco-degree-bg
      .container
        .row
          .col-lg-8.order-md-last.ftco-animate
            p
              img.img-fluid(src='images/image_1.jpg', alt='')
            h2.mb-3 It is a long established fact a reader be distracted
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit, quisquam doloremque distinctio perferendis et doloribus unde architecto optio laboriosam porro adipisci sapiente officiis nemo accusamus ad praesentium? Esse minima nisi et. Dolore perferendis, enim praesentium omnis, iste doloremque quia officia optio deserunt molestiae voluptates soluta architecto tempora.
            p
              | Molestiae cupiditate inventore animi, maxime sapiente optio, illo est nemo veritatis repellat sunt doloribus nesciunt! Minima laborum magni reiciendis qui voluptate quisquam voluptatem soluta illo eum ullam incidunt rem assumenda eveniet eaque sequi deleniti tenetur dolore amet fugit perspiciatis ipsa, odit. Nesciunt dolor minima esse vero ut ea, repudiandae suscipit!
            h2.mb-3.mt-5 #2. Creative WordPress Themes
            p
              | Temporibus ad error suscipit exercitationem hic molestiae totam obcaecati rerum, eius aut, in. Exercitationem atque quidem tempora maiores ex architecto voluptatum aut officia doloremque. Error dolore voluptas, omnis molestias odio dignissimos culpa ex earum nisi consequatur quos odit quasi repellat qui officiis reiciendis incidunt hic non? Debitis commodi aut, adipisci.
            p
              img.img-fluid(src='images/image_2.jpg', alt='')
            p
              | Quisquam esse aliquam fuga distinctio, quidem delectus veritatis reiciendis. Nihil explicabo quod, est eos ipsum. Unde aut non tenetur tempore, nisi culpa voluptate maiores officiis quis vel ab consectetur suscipit veritatis nulla quos quia aspernatur perferendis, libero sint. Error, velit, porro. Deserunt minus, quibusdam iste enim veniam, modi rem maiores.
            p
              | Odit voluptatibus, eveniet vel nihil cum ullam dolores laborum, quo velit commodi rerum eum quidem pariatur! Quia fuga iste tenetur, ipsa vel nisi in dolorum consequatur, veritatis porro explicabo soluta commodi libero voluptatem similique id quidem? Blanditiis voluptates aperiam non magni. Reprehenderit nobis odit inventore, quia laboriosam harum excepturi ea.
            p
              | Adipisci vero culpa, eius nobis soluta. Dolore, maxime ullam ipsam quidem, dolor distinctio similique asperiores voluptas enim, exercitationem ratione aut adipisci modi quod quibusdam iusto, voluptates beatae iure nemo itaque laborum. Consequuntur et pariatur totam fuga eligendi vero dolorum provident. Voluptatibus, veritatis. Beatae numquam nam ab voluptatibus culpa, tenetur recusandae!
            p
              | Voluptas dolores dignissimos dolorum temporibus, autem aliquam ducimus at officia adipisci quasi nemo a perspiciatis provident magni laboriosam repudiandae iure iusto commodi debitis est blanditiis alias laborum sint dolore. Dolores, iure, reprehenderit. Error provident, pariatur cupiditate soluta doloremque aut ratione. Harum voluptates mollitia illo minus praesentium, rerum ipsa debitis, inventore?
            .tag-widget.post-tag-container.mb-5.mt-5
              .tagcloud
                a.tag-cloud-link(href='#') Life
                a.tag-cloud-link(href='#') Sport
                a.tag-cloud-link(href='#') Tech
                a.tag-cloud-link(href='#') Travel
            .about-author.d-flex.p-4.bg-light
              .bio.mr-5
                img.img-fluid.mb-4(src='images/person_1.jpg', alt='Image placeholder')
              .desc
                h3 George Washington
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!
            .pt-5.mt-5
              h3.mb-5 6 Comments
              ul.comment-list
                li.comment
                  .vcard.bio
                    img(src='images/person_1.jpg', alt='Image placeholder')
                  .comment-body
                    h3 John Doe
                    .meta October 03, 2018 at 2:21pm
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                    p
                      a.reply(href='#') Reply
                li.comment
                  .vcard.bio
                    img(src='images/person_1.jpg', alt='Image placeholder')
                  .comment-body
                    h3 John Doe
                    .meta October 03, 2018 at 2:21pm
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                    p
                      a.reply(href='#') Reply
                  ul.children
                    li.comment
                      .vcard.bio
                        img(src='images/person_1.jpg', alt='Image placeholder')
                      .comment-body
                        h3 John Doe
                        .meta October 03, 2018 at 2:21pm
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                        p
                          a.reply(href='#') Reply
                      ul.children
                        li.comment
                          .vcard.bio
                            img(src='images/person_1.jpg', alt='Image placeholder')
                          .comment-body
                            h3 John Doe
                            .meta October 03, 2018 at 2:21pm
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                            p
                              a.reply(href='#') Reply
                          ul.children
                            li.comment
                              .vcard.bio
                                img(src='images/person_1.jpg', alt='Image placeholder')
                              .comment-body
                                h3 John Doe
                                .meta October 03, 2018 at 2:21pm
                                p
                                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                                p
                                  a.reply(href='#') Reply
                li.comment
                  .vcard.bio
                    img(src='images/person_1.jpg', alt='Image placeholder')
                  .comment-body
                    h3 John Doe
                    .meta October 03, 2018 at 2:21pm
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                    p
                      a.reply(href='#') Reply
              // END comment-list
              .comment-form-wrap.pt-5
                h3.mb-5 Leave a comment
                form.p-5.bg-light(action='#')
                  .form-group
                    label(for='name') Name *
                    input#name.form-control(type='text')
                  .form-group
                    label(for='email') Email *
                    input#email.form-control(type='email')
                  .form-group
                    label(for='website') Website
                    input#website.form-control(type='url')
                  .form-group
                    label(for='message') Message
                    textarea#message.form-control(name='', cols='30', rows='10')
                  .form-group
                    input.btn.py-3.px-4.btn-primary(type='submit', value='Post Comment')
          // .col-md-8
          .col-lg-4.sidebar.ftco-animate
            .sidebar-box
              form.search-form(action='#')
                .form-group
                  span.icon.icon-search
                  input.form-control(type='text', placeholder='Type a keyword and hit enter')
            .sidebar-box.ftco-animate
              .categories
                h3 Categories
                li
                  a(href='#')
                    | Family Law
                    span.ion-ios-arrow-forward
                li
                  a(href='#')
                    | Business Law
                    span.ion-ios-arrow-forward
                li
                  a(href='#')
                    | Criminal Law
                    span.ion-ios-arrow-forward
                li
                  a(href='#')
                    | Insurance Law
                    span.ion-ios-arrow-forward
                li
                  a(href='#')
                    | Emloyment Law
                    span.ion-ios-arrow-forward
                li
                  a(href='#')
                    | Property Law
                    span.ion-ios-arrow-forward
            .sidebar-box.ftco-animate
              h3 Recent Blog
              .block-21.mb-4.d-flex
                a.blog-img.mr-4(style='background-image: url(images/image_1.jpg);')
                .text
                  h3.heading
                    a(href='#') Even the all-powerful Pointing has no control about the blind texts
                  .meta
                    div
                      a(href='#')
                        span.icon-calendar
                        |  January 15, 2019
                    div
                      a(href='#')
                        span.icon-person
                        |  Admin
                    div
                      a(href='#')
                        span.icon-chat
                        |  19
              .block-21.mb-4.d-flex
                a.blog-img.mr-4(style='background-image: url(images/image_2.jpg);')
                .text
                  h3.heading
                    a(href='#') Even the all-powerful Pointing has no control about the blind texts
                  .meta
                    div
                      a(href='#')
                        span.icon-calendar
                        |  January 15, 2019
                    div
                      a(href='#')
                        span.icon-person
                        |  Admin
                    div
                      a(href='#')
                        span.icon-chat
                        |  19
              .block-21.mb-4.d-flex
                a.blog-img.mr-4(style='background-image: url(images/image_3.jpg);')
                .text
                  h3.heading
                    a(href='#') Even the all-powerful Pointing has no control about the blind texts
                  .meta
                    div
                      a(href='#')
                        span.icon-calendar
                        |  January 15, 2019
                    div
                      a(href='#')
                        span.icon-person
                        |  Admin
                    div
                      a(href='#')
                        span.icon-chat
                        |  19
            .sidebar-box.ftco-animate
              h3 Tag Cloud
              .tagcloud
                a.tag-cloud-link(href='#') dish
                a.tag-cloud-link(href='#') menu
                a.tag-cloud-link(href='#') food
                a.tag-cloud-link(href='#') sweet
                a.tag-cloud-link(href='#') tasty
                a.tag-cloud-link(href='#') delicious
                a.tag-cloud-link(href='#') desserts
                a.tag-cloud-link(href='#') drinks
            .sidebar-box.ftco-animate
              h3 Paragraph
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!
    // .section
    section.ftco-section-parallax.bg-secondary
      .parallax-img.d-flex.align-items-center
        .container
          .row.d-flex.justify-content-center
            .col-md-7.text-center.heading-section.heading-section-white.ftco-animate
              h2 Subcribe to our Newsletter
              p
                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in
              .row.d-flex.justify-content-center.mt-4.mb-4
                .col-md-8
                  form.subscribe-form(action='#')
                    .form-group.d-flex
                      input.form-control(type='text', placeholder='Enter email address')
                      input.submit.px-3(type='submit', value='Subscribe')
    footer.ftco-footer.ftco-bg-dark.ftco-section
      .container
        .row.mb-5
          .col-md
            .ftco-footer-widget.mb-4
              h2.ftco-heading-2 Whisper
              p
                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
              ul.ftco-footer-social.list-unstyled.float-md-left.float-lft.mt-5
                li.ftco-animate
                  a(href='#')
                    span.icon-twitter
                li.ftco-animate
                  a(href='#')
                    span.icon-facebook
                li.ftco-animate
                  a(href='#')
                    span.icon-instagram
          .col-md
            .ftco-footer-widget.mb-4.ml-md-5
              h2.ftco-heading-2 Practice Areas
              ul.list-unstyled
                li
                  a.py-1.d-block(href='#')
                    span.ion-ios-arrow-forward.mr-3
                    | Family Law
                li
                  a.py-1.d-block(href='#')
                    span.ion-ios-arrow-forward.mr-3
                    | Business Law
                li
                  a.py-1.d-block(href='#')
                    span.ion-ios-arrow-forward.mr-3
                    | Insurance Law
                li
                  a.py-1.d-block(href='#')
                    span.ion-ios-arrow-forward.mr-3
                    | Criminal Law
                li
                  a.py-1.d-block(href='#')
                    span.ion-ios-arrow-forward.mr-3
                    | Drug Offenses
                li
                  a.py-1.d-block(href='#')
                    span.ion-ios-arrow-forward.mr-3
                    | Fire Accident
                li
                  a.py-1.d-block(href='#')
                    span.ion-ios-arrow-forward.mr-3
                    | Employment Law
                li
                  a.py-1.d-block(href='#')
                    span.ion-ios-arrow-forward.mr-3
                    | Property Law
          .col-md
            .ftco-footer-widget.mb-4
              h2.ftco-heading-2 Business Hours
              .opening-hours
                h4 Opening Days:
                p.pl-3
                  span Monday – Friday : 9am to 20 pm
                  span Saturday : 9am to 17 pm
                h4 Vacations:
                p.pl-3
                  span All Sunday Days
                  span All Official Holidays
          .col-md
            .ftco-footer-widget.mb-4
              h2.ftco-heading-2 Have a Questions?
              .block-23.mb-3
                ul
                  li
                    span.icon.icon-map-marker
                    span.text 203 Fake St. Mountain View, San Francisco, California, USA
                  li
                    a(href='#')
                      span.icon.icon-phone
                      span.text +2 392 3929 210
                  li
                    a(href='#')
                      span.icon.icon-envelope
                      span.text info@yourdomain.com
        .row
          .col-md-12.text-center
            p
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              | Copyright ©
              script.
                document.write(new Date().getFullYear());
              |  All rights reserved | This template is made with
              i.icon-heart.color-danger(aria-hidden='true')
              |  by
              a(href='https://colorlib.com', target='_blank') Colorlib
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              // loader
              #ftco-loader.show.fullscreen
                svg.circular(width='48px', height='48px')
                  circle.path-bg(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke='#eeeeee')
                  circle.path(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke-miterlimit='10', stroke='#F96D00')
              script(src='js/jquery.min.js')
              script(src='js/jquery-migrate-3.0.1.min.js')
              script(src='js/popper.min.js')
              script(src='js/bootstrap.min.js')
              script(src='js/jquery.easing.1.3.js')
              script(src='js/jquery.waypoints.min.js')
              script(src='js/jquery.stellar.min.js')
              script(src='js/owl.carousel.min.js')
              script(src='js/jquery.magnific-popup.min.js')
              script(src='js/aos.js')
              script(src='js/jquery.animateNumber.min.js')
              script(src='js/bootstrap-datepicker.js')
              script(src='js/jquery.timepicker.min.js')
              script(src='js/scrollax.min.js')
              script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
              script(src='js/google-map.js')
              script(src='js/main.js')
